/* idealist-sans-400 - latin */
@font-face {
  font-family: 'Idealist Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Idealist Sans"), url("../fonts/idealist-sans/idealist-sans.regular.woff") format("woff");
}
/* idealist-sans-300 - latin */
@font-face {
  font-family: 'Idealist Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Idealist Sans"), url("../fonts/idealist-sans/idealist-sans.light.woff") format("woff");
}
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/open-sans-v34-latin/open-sans-v34-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v34-latin/open-sans-v34-latin-300.woff") format("woff");
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v34-latin/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin/open-sans-v34-latin-regular.woff") format("woff");
}
/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/open-sans-v34-latin/open-sans-v34-latin-500.woff2") format("woff2"), url("../fonts/open-sans-v34-latin/open-sans-v34-latin-500.woff") format("woff");
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v34-latin/open-sans-v34-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v34-latin/open-sans-v34-latin-600.woff") format("woff");
}
/* fira-code-300 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/fira-code-v21-latin-300.woff2") format("woff2"), url("../fonts/fira-code-v21-latin-300.woff") format("woff");
}
/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fira-code-v21-latin-regular.woff2") format("woff2"), url("../fonts/fira-code-v21-latin-regular.woff") format("woff");
}
/* space-mono-regular - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff");
}
/* tailwindcss styles */
/* ! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com */
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Open Sans, Idealist Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: Space Mono, Fira Code, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
html {
  font-size: 10px;
}
::-moz-selection {
  --tw-bg-opacity: 1;
  background-color: rgb(112 78 180 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}
::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(112 78 180 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}
body {
  font-size: clamp(16px, 15.8873239437px + 0.4225352113vw, 18px);
  line-height: 1.625;
  letter-spacing: 0.25px;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
  body {
    font-size: clamp(18px, 15.8873239437px + 0.4225352113vw, 24px);
    line-height: 1.725;
    letter-spacing: 0.5px;
  }
}
p:not(:first-child) {
  margin-top: 1.875rem;
}
@media (min-width: 768px) {
  p:not(:first-child) {
    margin-top: 3rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 3.75rem;
  margin-bottom: 1.875rem;
  font-family: Idealist Sans, Open Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.25;
}
@media (min-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 6rem;
    margin-bottom: 3rem;
    line-height: 1.33;
  }
}
h1, h2, h3, h4, h5, h6 {
  --tw-text-opacity: 1;
  color: rgb(66 53 87 / var(--tw-text-opacity));
}
h1 {
  font-size: 4.209em;
  letter-spacing: -1.5px;
}
h2 {
  font-size: 3.157em;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 2.369em;
  letter-spacing: normal;
}
h4 {
  font-size: 1.777em;
  letter-spacing: 0.25px;
}
h5 {
  font-size: 1.333em;
  letter-spacing: normal;
}
h6 {
  font-size: 1em;
  letter-spacing: 0.15px;
}
a {
  position: relative;
  display: inline-block;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.wrapper {
  display: grid;
  width: 100%;
  align-items: flex-start;
  gap: 6rem;
}
.wrapper--left {
    grid-auto-columns: 1fr;
    grid-template-columns: 0.325fr 1fr;
    grid-template-rows: auto;
  }
.wrapper--right {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 0.325fr;
    grid-template-rows: auto;
  }
.section-padding {
  padding-top: 13rem;
  padding-bottom: 13rem;
}
.section-padding--sm {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.sticky-aside {
  position: sticky;
  top: 0px;
  height: 100vh;
  overflow: auto;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.btn--pea.categories a {
  --tw-text-opacity: 1;
  color: rgb(145 55 35 / var(--tw-text-opacity));
}
.btn--pea.categories a:hover {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(240 142 121 / var(--tw-text-opacity));
}
.categories a {
  border-width: 1px;
  border-color: currentColor;
  background-color: transparent;
  width: 100%;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: clamp(13px, 0.888em, 15px);
  letter-spacing: 1.25px;
  font-weight: 300;
  text-transform: uppercase;
}
.categories a:hover {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.btn--pea.tags a {
  --tw-text-opacity: 1;
  color: rgb(145 55 35 / var(--tw-text-opacity));
}
.btn--pea.tags a:hover {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(240 142 121 / var(--tw-text-opacity));
}
.tags a {
  border-width: 1px;
  border-color: currentColor;
  background-color: transparent;
  border-radius: 5rem;
  width: 100%;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: clamp(12px, 11.8873239437px + 0.4225352113vw, 14px);
  letter-spacing: 1.5px;
  font-weight: 300;
  text-transform: uppercase;
}
.tags a:hover {
  --tw-border-opacity: 1;
  border-color: rgb(240 142 121 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(240 142 121 / var(--tw-text-opacity));
}
.article {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.article--full {
  display: grid;
  width: 100%;
  gap: 0px;
  overflow: hidden;
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));    grid-auto-columns: 1fr;
    grid-template-columns: 1fr .65fr;
    grid-template-rows: auto;
}
.article-wrapper {
  display: grid;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 13rem;    grid-auto-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.article-wrapper--vertical {
    grid-template-columns: 1fr;
  }
.article__details {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 8rem;
}
.article__banner {
  display: flex;
  align-items: stretch;
}
.article__banner .article__figure {
  height: 100%;
}
.article__banner .article__figure > img {
  height: 100%;
}
.article__header {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 1.75rem;
}
.article__heading {
  margin: 0px;
  font-size: 1.777em;
  letter-spacing: 0.25px;
}
.article__heading a {
  border-style: none;
}
.article__heading a::before {
  content: var(--tw-content);
  display: none;
}
.article__heading a::after {
  content: var(--tw-content);
  display: none;
}
.article__published {
  display: flex;
  font-size: clamp(12px, 11.8873239437px + 0.4225352113vw, 14px);
  font-weight: 300;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.article__published li {
  display: flex;
  align-items: center;
}
.article__published li:not(:last-child)::after {
    content: "";
    margin-left: 1rem;
    margin-right: 1rem;
    display: block;
    height: 3.5px;
    width: 3.5px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225 / var(--tw-bg-opacity))
  }
.article__info {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.article__info > a {
  display: block;
  border-style: none;
}
.article__info > a::before {
  content: var(--tw-content);
  display: none;
}
.article__info > a::after {
  content: var(--tw-content);
  display: none;
}
.article__figure {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}
.article__figure > img {
  display: block;
  aspect-ratio: 16/12;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article__class {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.7833em;
  font-weight: 300;
  letter-spacing: 0.75px;
}
.article__category {
  display: flex;
  align-items: center;
}
.article__category a {
  position: relative;
  display: block;
  border-radius: 5rem;
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.article__category a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}
.article__excerpt {
  font-weight: 300;
}
.article__footer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article__link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: -0.025em;
}
.article__link > span {
  position: relative;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  line-height: 1.1;
}
.article__link > span::after {
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: top left;
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  --tw-content: '';
  content: var(--tw-content);
}
.article__link:hover > span::after {
  content: var(--tw-content);
  --tw-scale-x: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.article__series {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(12px, 11.8873239437px + 0.4225352113vw, 14px);
  letter-spacing: 1.5px;
  letter-spacing: 0em;
  text-transform: uppercase;
}
.article__series span {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(228 105 79 / var(--tw-text-opacity));
}
.article__series a {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.1;
}
.article__series a::before {
  content: var(--tw-content);
  display: none;
}
.series__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.series__header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.series__banner {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}
.series__banner > img {
  aspect-ratio: 16/10;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.series__info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-weight: 300;
}
.series__contributors {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.series__contributor {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.series__contributor:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.series__footer {
  border-top-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.series__share {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.series__share a {
  display: flex;
  height: 6rem;
  width: 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: currentColor;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.series__share a:hover {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.authors-credit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.authors-credit--vertical {
  flex-direction: column;
  line-height: 1.1;
}
.authors-credit--vertical > li {
  width: 100%;
}
.authors-credit > li {
  display: flex;
  align-items: center;
}
.authors-credit__avatar {
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  border-radius: 1rem;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.authors-credit__avatar--lg {
  height: 8rem;
  width: 8rem;
}
.authors-credit__avatar--circle {
  border-radius: 9999px;
}
.authors-credit__avatar:not(:first-of-type) {
  margin-left: -2.5rem;
}
.authors-credit__avatar > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.authors-credit__names {
  display: flex;
  align-items: center;
}
.authors-credit__names > li {
  position: relative;
}
.authors-credit__names > li:not(:last-child)::after {
    content: ',';
    margin-right: 0.5rem;
    display: inline-block
  }
.authors-credit__names--vertical {
  flex-direction: column;
  align-items: flex-start;
}
.authors-credit__names--vertical li:not(:last-child)::after {
  content: var(--tw-content);
  display: none;
}
.authors-credit__names a {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  font-weight: 500;
  line-height: 1.1;
}
.authors-credit__names a::before {
  content: var(--tw-content);
  display: none;
}
.link {
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(211 86 59 / var(--tw-border-opacity));
}
.link:hover::after {
  content: var(--tw-content);
  --tw-scale-x: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.link::before, .link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 2px;
    width: 100%
  }
.link::before {
  z-index: -2px;
  height: 2.5rem;
  background-color: rgb(211 86 59 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
}
.link::after {
  bottom: -2px;
  transform-origin: top left;
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(121 50 35 / var(--tw-bg-opacity));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
.m-0 {
  margin: 0px;
}
.flex {
  display: flex;
}
.w-1\/2 {
  width: 50%;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.gap-20 {
  gap: 5rem;
}
.gap-6 {
  gap: 1.5rem;
}
.bg-gore-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(242 241 252 / var(--tw-bg-opacity));
}
.bg-opacity-40 {
  --tw-bg-opacity: 0.4;
}
.text-h1 {
  font-size: 4.209em;
  letter-spacing: -1.5px;
}
.text-subtitle {
  font-size: 1.111em;
  letter-spacing: 0.15px;
}
.text-h6 {
  font-size: 1em;
  letter-spacing: 0.15px;
}
.text-h4 {
  font-size: 1.777em;
  letter-spacing: 0.25px;
}
.uppercase {
  text-transform: uppercase;
}
.overline {
  text-decoration-line: overline;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (min-width: 768px) {
  .inner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
